/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
  }
  .banner {
    width: 20%;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
  }
  .container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* 데스크탑에서 너무 넓지 않도록 최대 너비 설정 */
  }
  
  h1 {
    color: #333333;
    font-size: 24px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  select {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background-color: #ff7011;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #ff6e0d;
  }
  
  p {
    margin-top: 20px;
    font-size: 18px;
    color: #333333;
  }
  
/* 선택 메뉴 아이콘 추가 예시 */
    select#category option[value="한식"] {
    background-image: url('/img/korean-restaurant.png');
    background-repeat: no-repeat;
    padding-left: 25px;
  }
  
  select#category option[value="중식"] {
    background-image: url('/img/chinese-lantern.png');
    background-repeat: no-repeat;
    padding-left: 25px;
  }
  
  select#category option[value="양식"] {
    background-image: url('/img/food-store.png');
    background-repeat: no-repeat;
    padding-left: 25px;
  }
  
  select#category option[value="일식"] {
    background-image: url('/img/lantern.png');
    background-repeat: no-repeat;
    padding-left: 25px;
  }


  /* 모바일 스타일 */
  @media (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  
    button, select {
      font-size: 14px;
      padding: 10px;
    }
  
    p {
      font-size: 16px;
    }
  }
  